<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biwork.mapper.AddCoinMapper">
  <resultMap id="BaseResultMap" type="com.biwork.entity.AddCoin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coin_name" jdbcType="VARCHAR" property="coinName" />
    <result column="coin_mark" jdbcType="VARCHAR" property="coinMark" />
    <result column="bip44_num" jdbcType="INTEGER" property="bip44Num" />
    <result column="coin_rate_id" jdbcType="VARCHAR" property="coinRateId" />
    <result column="coin_img_url" jdbcType="VARCHAR" property="coinImgUrl" />
    <result column="contract_address" jdbcType="VARCHAR" property="contractAddress" /> 
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
    
  <sql id="Base_Column_List">
     id, coin_name, coin_mark, bip44_num, coin_rate_id, coin_img_url, contract_address
  </sql>
 
   <select id="queryCoinInfo"  resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from coin_info
	    <where>
		    <if test="coinName != null and coinName != ''">
		     or coin_name like CONCAT('%',#{coinName,jdbcType=VARCHAR},'%')
		    </if>
		    <if test="coinMark != null and coinMark != ''">
		      or coin_mark like CONCAT('%',#{coinMark,jdbcType=VARCHAR},'%')
		    </if>
		     <if test="contractAddress != null and contractAddress != ''">
		      or contract_address like CONCAT('%',#{contractAddress,jdbcType=VARCHAR},'%')
		    </if>
	  </where>
  </select>
  
   <select id="queryCoinInfoAll"   resultType="com.biwork.vo.CoinInfoVo">
	   select id,coin_name as coinName,coin_mark as coinMark, coin_rate_id as coinRateId, coin_img_url as coinImgUrl from coin_info where state= 0 order by coin_mark asc
	  
  </select>
</mapper>