<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biwork.mapper.AirdropTaskMapper">
  <resultMap id="BaseResultMap" type="com.biwork.entity.AirdropTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="need_attach" jdbcType="INTEGER" property="needAttach" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="create_userid" jdbcType="VARCHAR" property="createUserid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
     <sql id="page_val">
   <if test="fetch!=null">limit #{fetch,jdbcType=INTEGER} </if>
		<if test="offset!=null">offset #{offset,jdbcType=INTEGER} </if>
		
    </sql>
  <sql id="Base_Column_List">
    id, name, inserttime, updatetime, endtime, state, title, remark,need_attach,banner_url,team_id,create_userid,type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from airdrop_task
    where id = #{id,jdbcType=INTEGER}
  </select>
 
  <select id="selectByName" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from airdrop_task
    where name = #{name,jdbcType=VARCHAR} and state=0
     <if test="teamId != null">
       and  team_id= #{teamId,jdbcType=INTEGER} 
     </if>
  </select>
  <select id="selectByTeamId"  resultType="com.biwork.vo.TaskListVo">
    select  (@rowNum:=@rowNum+1) rm ,t.* ,(select count(1) from airdrop_task where create_userid=#{userId,jdbcType=INTEGER}
    <!-- AND state=0  -->
    and team_id=#{teamId,jdbcType=INTEGER}
    <if test="type != null">
        and type=#{type,jdbcType=INTEGER}
      </if>        ) count
	from (
	select a.id,a.name,IFNULL((select count(1)  from airdrop_address where taskid=a.id),0) as addressCount
	,DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s') as endTime, TIMESTAMPDIFF(SECOND,now(),endtime) as leftSeconds,state,type
	from airdrop_task a 
	where  <!-- a.create_userid=#{userId,jdbcType=INTEGER} and --> a.team_id=#{teamId,jdbcType=INTEGER} 
	 <if test="type != null">
        and a.type=#{type,jdbcType=INTEGER}
      </if> 
	 order by a.inserttime desc ) t,(SELECT @rowNum:=0) b 
  	<include refid="page_val" />
  </select>
  <select id="selectByTaskId"  resultType="com.biwork.vo.TaskVo">
  	select a.id,a.name,IFNULL((select count(1)  from airdrop_address where taskid=a.id),0) as addressCount
	,DATE_FORMAT(endtime,'%Y-%m-%d %H:%i:%s') as endTime,state,type,title,banner_url as bannerUrl,remark,need_attach as needAttach
	from airdrop_task a 
	where   <if test="userId != null"> a.create_userid=#{userId,jdbcType=INTEGER} and  </if> id=#{taskId,jdbcType=INTEGER} 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from airdrop_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.biwork.entity.AirdropTask">
    insert into airdrop_task (id, name, inserttime, 
      updatetime, endtime, state, 
      title, remark)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{inserttime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.biwork.entity.AirdropTask"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into airdrop_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="remark != null">
        remark,
      </if>
       <if test="needAttach != null">
        need_attach,
      </if>
      <if test="bannerUrl != null">
        banner_url,
      </if>
       <if test="teamId != null">
        team_id,
      </if>
       <if test="createUserid != null">
        create_userid,
      </if>
       <if test="type != null">
       type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
       <if test="needAttach != null">
        #{needAttach,jdbcType=INTEGER},
      </if>
       <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
       <if test="teamId != null">
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null">
        #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biwork.entity.AirdropTask">
    update airdrop_task
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
       <if test="needAttach != null">
        need_attach=#{needAttach,jdbcType=INTEGER},
      </if>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=VARCHAR},
      </if>
       <if test="createUserid != null">
        create_userid = #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.biwork.entity.AirdropTask">
    update airdrop_task
    set name = #{name,jdbcType=VARCHAR},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>