<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biwork.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.biwork.entity.Member">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="inviter_id" jdbcType="INTEGER" property="inviterId" />
    <result column="invite_table_id" jdbcType="INTEGER" property="inviteTableId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap id="MemberVoMap" type="com.biwork.vo.MemberVo">
       <id column="id" jdbcType="INTEGER" property="id" />
	   <result column="inviter_id" jdbcType="INTEGER" property="inviterId" />
	   <result column="name" jdbcType="VARCHAR" property="name" />
	   <result column="phone" jdbcType="VARCHAR" property="phone" />
	   <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, team_id, inviter_id, user_id, name, phone, state, inserttime, updatetime,invite_table_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>
     <select id="selectByTeamId" parameterType="java.lang.Integer" resultMap="MemberVoMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where team_id= #{teamId,jdbcType=INTEGER} and state=0
    <if test="userId != null">
       and  inviter_id = #{userId,jdbcType=VARCHAR} 
     </if>
  </select>
  <select id="selectByInviteTableId" parameterType="java.lang.Integer" resultMap="MemberVoMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where invite_table_id= #{inviteTableId,jdbcType=INTEGER} and state=0
  
  </select>
    <select id="selectByTeamIdUseId" parameterType="java.lang.Integer" resultMap="MemberVoMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where team_id= #{teamId,jdbcType=INTEGER} and state=0
    <if test="userId != null">
       and  user_id = #{userId,jdbcType=VARCHAR}
     </if>
  </select>
  <select id="selectByPhone" parameterType="String" resultMap="MemberVoMap">
    select 
    <include refid="Base_Column_List" />
    from member
    where phone= #{phone,jdbcType=VARCHAR} and state=0
    <if test="teamId != null">
       and  team_id= #{teamId,jdbcType=INTEGER} 
     </if>
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.biwork.entity.Member">
    insert into member (id, team_id, inviter_id, 
      user_id, name, phone, 
      state, inserttime, updatetime
      )
    values (#{id,jdbcType=INTEGER}, #{teamId,jdbcType=INTEGER}, #{inviterId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.biwork.entity.Member">
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teamId != null">
        team_id,
      </if>
      <if test="inviterId != null">
        inviter_id,
      </if>
       <if test="inviteTableId != null">
        invite_table_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="inviterId != null">
        #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviteTableId != null">
        #{inviteTableId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.biwork.entity.Member">
    update member
    <set>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="inviterId != null">
        inviter_id = #{inviterId,jdbcType=INTEGER},
      </if>
      <if test="inviteTableId != null">
       invite_table_id= #{inviteTableId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.biwork.entity.Member">
    update member
    set team_id = #{teamId,jdbcType=INTEGER},
      inviter_id = #{inviterId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>